body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  .header {
    background-color: #1F2937;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 150px; 
  }
  
  .header h1 {
    font-size: 24px;
    display:flex;
    
  }
  
  .nav a {
    color: #FFF;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-out;
  }
  
  .nav a:hover {
    color: #C5CAE9;
    transform: rotate(6deg)
  }
  
  .nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
  }
  
  .nav li {
    margin-left: 20px;
    font-size: 24px;
  }
  
  .heading {
    background-color: #1F2937;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
  }

  .heading h1 {
    font-size: 48px;
    font-weight: extra-bold;
    margin: 0;
    padding-top: 100px;
  }

  .heading img {
    display: flex;
    padding: 100px 150px 100px 100px;
    max-width: 500px;
    max-height: 500px;
    
  }